In [2]:
import sys
from yahoo_finance_api2 import share
from yahoo_finance_api2.exceptions import YahooFinanceError
import pandas as pd

In [3]:
code_df = pd.read_csv("data/stock_code/codes.csv")

In [4]:
code_df["yahoo_code"] = (code_df["コード"]/10).astype(int).astype(str)+".T"

In [5]:
code_df.head()

,コード,銘柄名,市場区分,本社所在地,業務分類,決算期,売買単位,支配株主等に関する事項,注意情報等,継続企業の前提の注記,yahoo_code
0,13010,極洋,第一部,東京,水産・農林業,3月,100,無し,,無し,1301.T
1,13050,ダイワ上場投信－トピックス,ETF,-,-,-,10,-,,-,1305.T
2,13060,ＮＥＸＴ ＦＵＮＤＳ ＴＯＰＩＸ連動型上場投信,ETF,-,-,-,10,-,,-,1306.T
3,13080,上場インデックスファンドＴＯＰＩＸ,ETF,-,-,-,100,-,,-,1308.T
4,13090,ＮＥＸＴ ＦＵＮＤＳ ＣｈｉｎａＡＭＣ・中国株式・上証５０連動型上場投信,ETF,-,-,-,1,-,,-,1309.T

In [7]:
tdf = pd.read_csv("data/transaction_data/transaction.csv")

In [8]:
tdf.head()

   code             datetime    open    high     low   close  code_y
0  1301  2021-07-19 00:00:00  2948.0  2948.0  2908.0  2917.0  1301.T
1  1301  2021-07-20 00:00:00  2917.0  2919.0  2903.0  2909.0  1301.T
2  1301  2021-07-21 00:00:00  2930.0  2960.0  2930.0  2954.0  1301.T
3  1301  2021-07-26 00:00:00  2977.0  2988.0  2956.0  2963.0  1301.T
4  1301  2021-07-27 00:00:00  2972.0  2988.0  2967.0  2981.0  1301.T

## 陽線と陰線を見分ける

In [9]:
tdf["o_c_diff"] = tdf.open - tdf.close
tdf["o_c_pct"] = (tdf.o_c_diff / tdf.open) * 100

In [10]:
def func_doutai(x):
  if x.o_c_diff == 0:
    return "J"
  elif x.o_c_pct > 5:
    return "D"
  else:
    return "S"
tdf["doutai"] = tdf.apply(lambda x: func_doutai(x), axis=1)
#sdf["daishou"] = abs(sdf.o_c_pct) > 5

In [14]:
tdf["inyou"] = tdf.o_c_diff.apply(lambda x: "Y" if x > 0 else "I" if x < 0 else "J")

In [16]:
tdf.head()

,code,datetime,open,high,low,close,code_y,o_c_diff,o_c_pct,doutai,inyou
0,1301,2021-07-19 00:00:00,2948.0,2948.0,2908.0,2917.0,1301.T,31.0,1.051560,S,Y
1,1301,2021-07-20 00:00:00,2917.0,2919.0,2903.0,2909.0,1301.T,8.0,0.274254,S,Y
2,1301,2021-07-21 00:00:00,2930.0,2960.0,2930.0,2954.0,1301.T,-24.0,-0.819113,S,I
3,1301,2021-07-26 00:00:00,2977.0,2988.0,2956.0,2963.0,1301.T,14.0,0.470272,S,Y
4,1301,2021-07-27 00:00:00,2972.0,2988.0,2967.0,2981.0,1301.T,-9.0,-0.302826,S,I