In [2]:
import sys
from yahoo_finance_api2 import share
from yahoo_finance_api2.exceptions import YahooFinanceError

In [3]:
#my_share = share.Share('MSFT')
my_share = share.Share('4383.T')

symbol_data = None

try:
    symbol_data = my_share.get_historical(
        share.PERIOD_TYPE_DAY, 10,
        share.FREQUENCY_TYPE_DAY, 1)
except YahooFinanceError as e:
    print(e.message)
    sys.exit(1)

print(symbol_data)

None

In [4]:
import pandas as pd
df =pd.DataFrame(symbol_data)

In [5]:
df

Empty DataFrame
Columns: []
Index: []

In [6]:
import datetime
df["datetime"] =pd.to_datetime(df.timestamp, unit="ms") + datetime.timedelta(hours=9)

AttributeError: 'DataFrame' object has no attribute 'timestamp'

In [ ]:
df

       timestamp    open    high     low   close  volume            datetime
0  1626652800000  1995.0  2001.0  1981.0  1991.0  162720 2021-07-19 09:00:00
1  1626739200000  1969.0  1981.0  1964.0  1970.0  476450 2021-07-20 09:00:00
2  1626825600000  2000.0  2009.0  1983.0  1985.0   91520 2021-07-21 09:00:00
3  1627257600000  2025.0  2026.0  2006.0  2008.0   78010 2021-07-26 09:00:00
4  1627366501000  2021.0  2026.0  2016.0  2021.0  298300 2021-07-27 15:15:01