In [3]:
import sys
from yahoo_finance_api2 import share
from yahoo_finance_api2.exceptions import YahooFinanceError

In [4]:
#my_share = share.Share('MSFT')
my_share = share.Share('1305.T')

symbol_data = None

try:
    symbol_data = my_share.get_historical(
        share.PERIOD_TYPE_DAY, 10,
        share.FREQUENCY_TYPE_DAY, 1)
except YahooFinanceError as e:
    print(e.message)
    sys.exit(1)

print(symbol_data)

{'timestamp': [1626652800000, 1626739200000, 1626825600000, 1627257600000, 1627366501000], 'open': [1995.0, 1969.0, 2000.0, 2025.0, 2021.0], 'high': [2001.0, 1981.0, 2009.0, 2026.0, 2026.0], 'low': [1981.0, 1964.0, 1983.0, 2006.0, 2016.0], 'close': [1991.0, 1970.0, 1985.0, 2008.0, 2021.0], 'volume': [162720, 476450, 91520, 78010, 298300]}

In [5]:
import pandas as pd
df =pd.DataFrame(symbol_data)

In [6]:
df

       timestamp    open    high     low   close  volume
0  1626652800000  1995.0  2001.0  1981.0  1991.0  162720
1  1626739200000  1969.0  1981.0  1964.0  1970.0  476450
2  1626825600000  2000.0  2009.0  1983.0  1985.0   91520
3  1627257600000  2025.0  2026.0  2006.0  2008.0   78010
4  1627366501000  2021.0  2026.0  2016.0  2021.0  298300

In [7]:
import datetime
df["datetime"] =pd.to_datetime(df.timestamp, unit="ms") + datetime.timedelta(hours=9)

In [8]:
df

       timestamp    open    high     low   close  volume            datetime
0  1626652800000  1995.0  2001.0  1981.0  1991.0  162720 2021-07-19 09:00:00
1  1626739200000  1969.0  1981.0  1964.0  1970.0  476450 2021-07-20 09:00:00
2  1626825600000  2000.0  2009.0  1983.0  1985.0   91520 2021-07-21 09:00:00
3  1627257600000  2025.0  2026.0  2006.0  2008.0   78010 2021-07-26 09:00:00
4  1627366501000  2021.0  2026.0  2016.0  2021.0  298300 2021-07-27 15:15:01